# Environments
.venv/
env/
venv/
ENV/

# Secrets & Local credentials
.env
credentials.json
token.json
state.json

# Local State & Logs
app.log
app.log.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor files
.vscode/
.idea/
